<main>

    <body>

        <section class="logincontainer">

            <h3 class="logintitle">Login</h3>

            <p>Username</p>
            <input type="text">

            <p>Password</p>
            <input type="text">

            <div><button class="loginbtn">Login!</button></div>

            <p><a href="/signup">Sign up</a> instead!</p>
        </section>

    </body>
</main>