<main>

    <body>

        <section class="logincontainer">

            <h3 class="logintitle">Login</h3>

            <p class="logininfotitle">Username</p>
            <input class="logininfo" type="text">

            <p class="logininfotitle">Password</p>
            <input class="logininfo" type="text">

            <div><button class="loginbtn">Login!</button></div>

            <p class="signup-p"><a href="/signup">Sign up instead</a></p>
        </section>

    </body>
</main>