<main>

    <body>

        <section class="signupcontainer">

            <h3 class="signuptitle">Signup</h3>

            <p class="signupinfotitle">Username</p>
            <input class="signupinfo" type="text">

            <p class="signupinfotitle">Password</p>
            <input class="signupinfo" type="text">

            <div><button class="signupbtn">Sign Up!</button></div>

            <p class="login-p"><a href="/login">Login instead</a></p>
        </section>

    </body>
</main>