* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(181, 212, 181);
}

header {
    background-color: rgb(39, 19, 19);
    color: rgb(181, 212, 181);
    height: 120px;
    padding-top: 20px;
}

/* title of pg in nav bar */
.pgtitle {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: rgb(39, 19, 19);
    background-color: rgb(181, 212, 181);
    border-radius: 10px 10px;
    width: 260px;
    padding: 8px 8px;
    margin-top: 20px;
    margin-left: 30px;
}

/* positioning of nav bar links */
nav li {
    list-style: none;
    display: inline;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

/* styling of nav bar links */
nav li a {
    text-decoration: none;
    color: rgb(181, 212, 181);
}

/* styling of nav bar links on hover */
nav li a:hover {
    cursor: pointer;
    color: white;
}

/* styling for login and signup pg */
/* section with the login/signup container  */
.logincontainer,
.signupcontainer {
    border: 3px solid rgb(39, 19, 19);
    width: 90%;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
}

/* title of login/signup container */
.logintitle,
.signuptitle {
    background-color: rgb(39, 19, 19);
    color: rgb(181, 212, 181);
    padding: 10px 10px;
}

/* username and pw titles on login/signup pg */
.logininfotitle,
.signupinfotitle {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 18px;
}

/* input boxes for login/signup information */
.logininfo,
.signupinfo {
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 8px;
    width: 98%;
    height: 35px;
    border: none;
}

/* button to login/signup after entering info */
.loginbtn,
.signupbtn {
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 5px;
    border-radius: 8px 8px;
    border: none;
    color: white;
    background-color: rgb(98, 96, 96);
    height: 40px;
    font-size: 20px;
}

/* sign up/login instead under login/signup box on login/signup pg */
.signup-p,
.login-p {
    padding-left: 10px;
    margin-top: 5px;
    padding-bottom: 15px;
}

/* link decoration */
.signup-p a,
.login-p a {
    text-decoration: none;
    color: black;
}

/* hover effect */
.signup-p a:hover,
.login-p a:hover {
    color: rgb(39, 19, 19);
}

/* section with the home pg post container  */
.homecardcontainer {
    border: 3px solid rgb(39, 19, 19);
    width: 90%;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
}

/* title of home pg post container */
.homecardtitle {
    background-color: rgb(39, 19, 19);
    color: rgb(181, 212, 181);
    padding: 10px 10px;
}

.homecard-p {
    padding-left: 10px;
    margin-top: 15px;
    padding-bottom: 15px;
}